.content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  padding: 10px;
  width: 200px;
  height: 20px;
  text-align: center;
  box-sizing: content-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 10px solid gray;
  background-color: gray;
  color: white;
}

/* .updateForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 10px solid gray;
  background-color: gray;
  color: white;
} */

/* .updateForm label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
} */

/* .signedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

textarea {
  text-align: center;
} */

ul {
  display: flex;
  flex-direction: column;

  text-align: center;
}

ul div {
  display: flex;
  list-style-type: square;
  color: white;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

linker {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: content-box;
}
